fsi.inventory.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.fsicatalog.com/Webservices/" xmlns:s1="https://www.fsicatalog.com/WebServices" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.fsicatalog.com/Webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.fsicatalog.com/Webservices/">
      <s:import namespace="https://www.fsicatalog.com/WebServices" />
      <s:element name="InventoryInquiry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" ref="s1:InventoryRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InventoryInquiryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" ref="s1:InventoryReply" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="https://www.fsicatalog.com/WebServices">
      <s:element name="InventoryRequest" nillable="true" type="s1:InventoryRequest" />
      <s:complexType name="InventoryRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AuthenticationKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OwnerCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Size" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Color" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InventoryReply" nillable="true" type="s1:InventoryReply" />
      <s:complexType name="InventoryReply">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Inventory" type="s1:ArrayOfInventoryItem" />
          <s:element minOccurs="1" maxOccurs="1" name="HighestSeverity" type="s1:NotificationSeverityType" />
          <s:element minOccurs="0" maxOccurs="1" name="Notifications" type="s1:ArrayOfNotification" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInventoryItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InventoryItem" nillable="true" type="s1:InventoryItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InventoryItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LongItemNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShortItemNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Size" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Color" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s1:InventoryStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="QuantityOnHand" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="QuantityAvailable" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="QuantityCommitted" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="QuantityBackOrdered" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="QuantityOnReorder" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="InventoryType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReorderPoint" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ReorderQuantity" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LastReceiptDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LastReceiptQuantity" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Category" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SellingUnit" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CartonQuantity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Weight" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="MasterUPC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DimensionUPC" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="InventoryStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Available" />
          <s:enumeration value="ComingSoon" />
          <s:enumeration value="Destroy" />
          <s:enumeration value="Discontinued" />
          <s:enumeration value="BackOrderDisallowed" />
          <s:enumeration value="NA" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="NotificationSeverityType">
        <s:restriction base="s:string">
          <s:enumeration value="SUCCESS" />
          <s:enumeration value="ERROR" />
          <s:enumeration value="FAILURE" />
          <s:enumeration value="NOTE" />
          <s:enumeration value="WARNING" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfNotification">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Notification" nillable="true" type="s1:Notification" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Notification">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Severity" type="s1:NotificationSeverityType" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InventoryInquirySoapIn">
    <wsdl:part name="parameters" element="tns:InventoryInquiry" />
  </wsdl:message>
  <wsdl:message name="InventoryInquirySoapOut">
    <wsdl:part name="parameters" element="tns:InventoryInquiryResponse" />
  </wsdl:message>
  <wsdl:portType name="InventorySoap">
    <wsdl:operation name="InventoryInquiry">
      <wsdl:input message="tns:InventoryInquirySoapIn" />
      <wsdl:output message="tns:InventoryInquirySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InventorySoap" type="tns:InventorySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InventoryInquiry">
      <soap:operation soapAction="http://www.fsicatalog.com/Webservices/InventoryInquiry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InventorySoap12" type="tns:InventorySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InventoryInquiry">
      <soap12:operation soapAction="http://www.fsicatalog.com/Webservices/InventoryInquiry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Inventory">
    <wsdl:port name="InventorySoap" binding="tns:InventorySoap">
      <soap:address location="http://test.fsicatalog.com/webservices/inventory.asmx" />
    </wsdl:port>
    <wsdl:port name="InventorySoap12" binding="tns:InventorySoap12">
      <soap12:address location="http://test.fsicatalog.com/webservices/inventory.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>